.slick-prev,
.slick-next {
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.slick-prev {
    left: 30px;
}

.slick-next {
    right: 30px;
}

.slick-next::before,
.slick-prev::before {
    font-size: 60px;
    color: #fff;
}

.slick-slide {
    padding: 10px;
}

.slick-slide {
    padding: 10px;
}
