.box-create-comment {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    z-index: 1040;
    background-color: rgba(85, 84, 100, 0.9);
    overflow-y: auto;
}

.box-create-comment.show {
    display: block;
}

.form-create-comment {
    width: 100%;
    height: 100%;
}

.comment-group {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1040;
    background: #fff;
    width: 50%;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 12px;
    overflow-y: auto;
}


.title-comment {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d5d5d5;
}

.avaliacou {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.avaliacou input {
    display: none;
}

.star-icon {
    list-style-type: none;
    cursor: pointer;
    color: #ffbf00;
    font-size: 60px;
    font-weight: 100;
    position: relative;
    padding: 10px;
    display: grid;

}

.star-icon::before {
    content: "\2605";
    height: 65px;
}

.star-icon.ativo~.star-icon::before {
    content: "\2606";
}

.btn-submit-comment,
.btn-create-comment {
    background-color: rgb(1, 148, 243);
    color: #fff;
}

.btn-submit-comment:hover,
.btn-create-comment:hover {
    background-color: #2c6cb5;
    color: #fff;
}

#close-box-comment {
    position: relative;
    top: -20px;
    left: 20px;
    border: none;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 30px;
    height: 30px;
    color: white;
    background: rgb(1, 148, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    float: right;
}

.title-comment-point {
    font-size: 14px;
    margin-top: 10px;
    color: #757575;
}

.title-comment-point.select {
    color: #ffbf00;
    font-weight: bold;
}

.star,
.star1 {
    list-style-type: none;
    cursor: pointer;
    color: #ffbf00;
    font-size: 20px;
    font-weight: 100;
    position: relative;
    display: grid;
}

.star::before {
    content: "\2605";
}

.half-star {
    display: inline-block;
    overflow: hidden;
    width: 8.33px;
}

.star1::before {
    content: "\2606";
}

.count-comment {
    font-size: 14px;
    margin-top: -5px;
}

.control-fiter button span {
    margin-left: 2px;
    color: #ffbf00;
    font-size: 18px;
}

.btn-filter-comment {
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 5px;
    font-size: 13px;
    width: 60px;
    height: 30px;
}

.content-comment {
    height: 150px;
}

.content-comment::placeholder {
    color: #777;
}


@media (max-width: 768px) {
    .head-title-comment {
        width: 130px;
    }

    .btn-show-comment,
    .btn-create-comment {
        font-size: 13px;
    }

    .btn-filter-comment {
        width: 50px;
    }

    .comment-group {
        width: auto;
    }
}
