/* Blog all css start */

.wsus__single_blog {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.15) 0px 0px 5px 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 100%;
    /* height: 203px; */
}

.wsus__single_blog:hover .wsus__blog_img {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.wsus__blog_img {
    display: block;
    /* width: 100%; */
    height: 250px;
    transform: scale(1);
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 500ms ease, -webkit-transform 500ms ease;
    transition: opacity 500ms ease, -webkit-transform 500ms ease;
    transition: transform 500ms ease, opacity 500ms ease;
    transition: transform 500ms ease, opacity 500ms ease, -webkit-transform 500ms ease;
}

.wsus__single_blog_2 .wsus__blog_text {
    position: relative;
}

.wsus__single_blog img {
    height: 100%;
    object-fit: cover;
}

.wsus__blog_text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(11, 44, 61);
    background: linear-gradient(0deg, rgba(11, 44, 61, 0.68) 20%, transparent 100%);
}

.wsus__blog_text_center {
    width: 100%;
    position: static;
    background: #fff;
    padding: 17px 20px 10px 20px;
}

.wsus__blog_text_center a {
    display: block;
    color: #353535;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 5px;
    line-height: 25px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    max-height: 2.4em;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s ease;
    -moz-transition: all linear 0.3s ease;
    -ms-transition: all linear 0.3s ease;
    -o-transition: all linear 0.3s ease;
}

.wsus__blog_text_center .date {
    color: #818181;
    text-transform: capitalize;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wsus__blog_text_center .date span {
    color: #08C;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 400;
    margin-right: 10px;
}

.wsus__single_blog .blog_top {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 3px;
    z-index: 1;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s ease;
    -moz-transition: all linear 0.3s ease;
    -ms-transition: all linear 0.3s ease;
    -o-transition: all linear 0.3s ease;
}

.wsus__single_blog_2 .blog_top {
    top: -20px;
    left: auto;
    right: 10px;
}

.wsus__single_blog .red {
    background: var(--thm-primary);
}

.wsus__single_blog .blue {
    background: #08C;
}

.wsus__single_blog .orange {
    background: orange;
}

.wsus__single_blog .blog_top:hover {
    transform: scale(1.05);
}

.wsus__blog_text_center a:hover {
    color: #08C;
}

/* Blog all css end */

/* Blog detail css start */
.wsus__main_blog_img {
    border-radius: 8px;
    overflow: hidden;
    /* height: 500px; */
    box-shadow: rgb(50 50 93 / 15%) 0px 0px 5px 0px;
}

.wsus__main_blog_img img {
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.wsus__main_blog_header {
    text-transform: capitalize;
    margin: 25px 0px 15px 0px;
}

.wsus__main_blog_header span {
    margin-right: 10px;
    font-size: 14px;
    color: #353535;
}

.wsus__main_blog_header span i {
    color: #08C;
    margin-right: 5px;
}

.wsus__blog_description span {
    display: block;
    margin-top: 25px;
}

.wsus__blog_quot_area {
    padding: 40px;
    border-radius: 5px;
    margin: 35px 0px;
    box-shadow: rgb(50 50 93 / 15%) 0px 0px 5px 0px;
    background: #fff;
}

.wsus__blog_quot_area i {
    font-size: 40px;
    font-weight: 900;
    color: #08C;
}

.wsus__blog_quot_area p {
    text-transform: capitalize;
    font-size: 25px;
    color: #353535;
    font-weight: 600;
    margin: 15px 0px 13px 0px;
}

.wsus__blog_quot_area span {
    color: #353535;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
}

.wsus__main_blog h5,
.wsus__related_post h5,
.wsus__comment_area h4,
.wsus__post_comment h4,
.wsus__blog_search h4,
.wsus__blog_category h4,
.wsus__blog_post h4,
.wsus__popular_tag h4,
.wsus_blog_calender h4,
#wsus__faq h4,
.wsus__forget_area h4,
.wsus__change_password h4,
.wsus__pro_det_vendor_text h4 {
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.wsus__blog_list_text ul {
    padding-left: 35px;
    margin: 20px 0px;
}

.wsus__blog_list_text ul li::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-style: normal;
    position: absolute;
    content: "\f0a4";
    top: 1px;
    left: -24px;
    color: #08C;
    font-size: 14px;
    border: none;
}

.wsus__share_blog {
    display: flex;
    margin: 20px 0px;
    justify-content: flex-end;
    width: 100%;
}

.wsus__share_blog label {
    text-transform: capitalize;
    color: #353535;
    font-size: 15px;
    font-weight: 400;
    margin-right: 10px;
}

.wsus__share_blog ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.wsus__share_blog ul li {
    margin-left: 5px;
}

.wsus__share_blog ul li a {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    color: #353535;
    font-size: 14px;
    border-radius: 50%;
    transition: all linear 0.3s;
    background: #eee;
}

.wsus__related_post {
    margin-bottom: 25px;
}

.wsus__related_post .wsus__single_blog {
    margin: 0px 12px;
    width: auto;
}

.wsus__blog_img {
    display: block;
    /* width: 100%; */
    height: 250px;
}

.wsus__related_post .slick-dots {
    display: flex;
    justify-content: center;
}

.wsus__related_post .slick-dots li button {
    font-size: 0;
    width: 30px;
    height: 8px;
    background: #76c3ff;
    border-radius: 50px;
    margin: 0 5px;
    outline: 0;
    border: none;
}

.wsus__related_post .slick-dots li.slick-active button {
    background: #0086ee;
}

.wsus__comment_area {
    border: 1px solid #eee;
    box-shadow: rgb(50 50 93 / 15%) 0px 0px 5px 0px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

.wsus__comment_area h4 {
    display: flex;
    justify-content: space-between;
}

.wsus__main_comment {
    overflow: hidden;
    margin-top: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.wsus__comment_img {
    width: 10%;
    float: left;
}

.wsus__comment_img img {
    border-radius: 50%;
}

.wsus__comment_text {
    width: 90%;
    float: left;
    padding-left: 25px;
}

.wsus__comment_text h6 {
    text-transform: capitalize;
    font-size: 17px;
    color: #0b2c3d;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wsus__comment_text h6 span {
    color: #0b2c3d;
    font-size: 14px;
}

.wsus__comment_text p {
    font-size: 15px;
}

.wsus__comment_text a {
    text-transform: capitalize;
    background: #08C;
    padding: 2px 10px 2px 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    margin-top: 10px;
    /* font-weight: 400; */
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s ease;
    -moz-transition: all linear 0.3s ease;
    -ms-transition: all linear 0.3s ease;
    -o-transition: all linear 0.3s ease;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.wsus__comment_text a:hover {
    background: #0363ae;
}

.replay .accordion-body {
    padding: 0;
    padding-top: 15px;
}

.replay .wsus__riv_edit_single {
    margin-bottom: 15px;
}

.replay .common_btn {
    text-transform: capitalize;
    padding: 5px 10px;
    font-weight: 400;
}

.wsus__com_replay {
    margin-left: 60px;
}

.wsus__post_comment {
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: rgb(50 50 93 / 15%) 0px 0px 5px 0px;
    background: #fff;
    margin-top: 25px;
}

.wsus__post_comment input,
.wsus__post_comment textarea {
    font-size: 16px;
    font-weight: 400;
    color: #0b2c3d;
}

.wsus__post_comment button {
    border: none;
    font-weight: 600;
    text-transform: capitalize;
}

.wsus__blog_search {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgb(50 50 93 / 15%) 0px 0px 5px 0px;
    background: #fff;
}

.wsus__blog_search form {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    line-height: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.wsus__blog_search input {
    width: 100%;
    padding: 9px 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #353535;
}

.wsus__blog_search button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    border: none;
}

.wsus__blog_category {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgb(50 50 93 / 15%) 0px 0px 5px 0px;
    background: #fff;
}

.wsus__blog_category ul li a {
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    color: #353535;
    width: 100%;
    border-top: 1px solid #eee;
    padding: 10px 10px 10px 0px;
    display: block;
}

.wsus__blog_category ul li:last-child a {
    border-bottom: 0;
    padding-bottom: 0;
}

.wsus__blog_post {
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 20px 20px 1px 20px;
    box-shadow: rgb(50 50 93 / 15%) 0px 0px 5px 0px;
    background: #fff;
}

.wsus__blog_post_single {
    display: flex;
    margin: 20px 0px 20px 0px;
}

.wsus__blog_post_img {
    width: 25%;
    border-radius: 5px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.wsus__blog_post_img img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    object-fit: cover;
}

.wsus__blog_post_text {
    width: 75%;
    padding-left: 10px;
    margin-top: -5px;
}

.wsus__blog_post_text a {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    max-height: 2.4em;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s ease;
    -moz-transition: all linear 0.3s ease;
    -ms-transition: all linear 0.3s ease;
    -o-transition: all linear 0.3s ease;
}

.wsus__blog_post_text p {
    font-size: 12px;
}

.wsus__blog_post_text p span {
    font-size: 12px;
    margin-right: 15px;
}

.wsus__blog_post_single a:hover {
    color: #08C;
}

.wsus__popular_tag {
    overflow: hidden;
    /* margin-bottom: 30px; */
}

.wsus__popular_tag ul li {
    float: left;
}

.wsus__popular_tag ul li a {
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 5px 10px 5px 0px;
    border-radius: 3px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 400;
    color: #353535;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s ease;
    -moz-transition: all linear 0.3s ease;
    -ms-transition: all linear 0.3s ease;
    -o-transition: all linear 0.3s ease;
}

.wsus__popular_tag ul li a:hover {
    color: #08C;
    border-color: #08C;
}

.wsus__description_area img {
    max-width: 100%;
    height: auto;
}

.wsus__description_area p {
    font-size: 16px;
}

/* Blog detail css end */

/*======================
	COMMON CSS START
========================*/
.common_btn {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
    background: #08C;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s ease;
    -moz-transition: all linear 0.3s ease;
    -ms-transition: all linear 0.3s ease;
    -o-transition: all linear 0.3s ease;
}

.common_btn:hover {
    color: #fff;
    background: rgb(2, 82, 122);
}

.see_btn {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: #08C;
    border: 1px solid #eee;
    padding: 5px 23px 5px 10px;
    border-radius: 3px;
    background: #fff;
    position: relative;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.see_btn i {
    font-size: 14px;
    position: absolute;
    top: 11px;
    right: 12px;
}

.see_btn:hover {
    color: #333;
    border: 1px solid #333;
}

.shop_btn {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #fff;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s ease;
    -moz-transition: all linear 0.3s ease;
    -ms-transition: all linear 0.3s ease;
    -o-transition: all linear 0.3s ease;
}

.shop_btn:hover {
    color: #fff;
    background: #08C;
    border-color: #08C;
}

.add_cart {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    padding: 10px 15px;
    background: #08C;
    border-radius: 3px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s ease;
    -moz-transition: all linear 0.3s ease;
    -ms-transition: all linear 0.3s ease;
    -o-transition: all linear 0.3s ease;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.add_cart:hover {
    color: #fff;
    background: rgb(2, 82, 122);
}

/*======================
	COMMON CSS END
========================*/
